services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 1m
    restart: unless-stopped
    network_mode: DockerInternal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 3600
    #WATCHTOWER_POLL_INTERVAL: 3600
    #WATCHTOWER_NOTIFICATIONS: slack
    #WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL: /run/secrets/watchtower_url
    #WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER: DockerBot
    secrets:
      - watchtower_url

secrets:
  watchtower_url:
    file: /docker/watchtower/URL
