services:
  organizr:
    image: ghcr.io/organizr/organizr:latest
    container_name: organizr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 1m
    volumes:
      - /docker/organizr/config:/config
    network_mode: DockerInternal
    ports:
      - 8880:80
      - 8443:443
    restart: unless-stopped
