services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 1m
    environment:
      APP_URL: https://beszel.tuckeredoutbert.com/
    ports:
      - 8099:8090
    volumes:
      - /docker/beszel/config:/beszel_data
      - /docker/beszel/config/socket:/beszel_socket
    labels:
      - traefik.enable=true
      - traefik.http.routers.beszel.rule=Host(`beszel.tuckeredoutbert.com`)  
      - traefik.http.routers.beszel.entrypoints=web-secure
      - traefik.http.routers.beszel.tls.certresolver=lets-encrypt
      - traefik.docker.network=DockerExternal  
    networks:
      DockerExternal:
      DockerInternal:

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 1m
    volumes:
      - /docker/beszel/config/agent:/var/lib/beszel-agent
      - /docker/beszel/config/agent/socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - beszel_token
      - beszel_key
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://localhost:8090
      TOKEN: /run/secret/beszel_token
      KEY: /run/sexrets/beszel_key
    networks:
      DockerInternal:

secrets:
  beszel_token:
    file: /docker/baszel/config/token
  beszel_key:
    file: /docker/baszel/config/key
    
networks:
  DockerExternal:
    external: true
  DockerInternal:
    external: true   
